<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/addProduct.css">
</head>

<body>
    {{>navbar isAdmin=isAdmin cartCount=cartCount}}

    <div class="container">
        <form action="/admin/edit" method="POST">
            <div class="productBox">
                <img src="{{products.imageUrl}}" alt="image" style="width: 300px; height:300px">
                <div class="productBoxItem">
                    <label class="title" for="name">Name:</label>
                    <input class="inputElement" type="text" placeholder="Enter Name" id="name" name="name"
                        value="{{products.name}}">
                </div>

                <div class="productBoxItem">
                    <label class="title" for="price">Price:</label>
                    <input class="inputElement" type="text" placeholder="Enter Price" id="price" name="price"
                        value="{{products.price}}">
                </div>

                <div class="productBoxItem">
                    <label class="title" for="img">Image Url:</label>
                    <input class="inputElement" type="text" placeholder="Enter Image URL" id="img" name="imageUrl"
                        value="{{products.imageUrl}}">
                </div>

                <div class="productBoxItem">
                    <label class="title" for="description">Description:</label>
                    <textarea class="inputElement" id="description" name="description" rows="10"
                        cols="20">{{products.description}}</textarea>
                </div>

                <div class="productBtn">
                    <button type="submit">Update Product</button>
                </div>

            </div>
        </form>
    </div>

</body>

</html>