<div class="cartItems">
    {{#each this.products as |product|}}
    <div class="newCartItem">

        <div class="btnGrp">
            <div class="image" style="background-image: url({{product.id.imageUrl}});"></div>
            <button productId={{product.id._id}} class="deleteBtn">Delete</button>
        </div>

        <div class="itemDetails">
            <div class="name">{{product.id.name}}</div>
            <div class="quantity">
                Quantity: <span class="quantityNumber">{{product.quantity}}</span>
                <button></button>
                <button class="increaseQty">
                    <span class="updateQty" productd="{{product.id._id}}">+</span>
                </button>
                <button class="decreaseQty">
                    <span class="updateQty" productd="{{product.id._id}}">-</span>
                </button>
            </div>
            <div class="price">$ {{product.id.price}}</div>
        </div>

    </div>
    {{/each}}

    <div class="totalPrice">
        <span class="priceName">Total Price</span>
        <span class="priceValue">${{this.totalPrice}}</span>
        <div class="payment">Proceed to Pay</div>
    </div>
</div>