<div class="impDetails">
    <section class="payments">
        <button class="addtocartBTN" productId="{{this.product._id}}">Add to Cart</button>
        <button class="buynowBTN">Buy Now</button>
    </section>
    <section class="reviews">
        <button class="writeReview">Write a Review</button>
        <div class="inputReview hide">
            <input type="text" class="title" placeholder="Enter Title"><br>
            <textarea name="" id="" class="description">Enter Description</textarea><br>
            <input type="hidden" class="productId" value="{{product._id}}">
            <button class="submitReview">Post Reviews</button>
        </div>
        <h4>Latest Reviews</h4>
        <ul class="reviewList">
            {{#each this.product.reviews as |r|}}
            <li class="reviewListItem">
                <div class="reviewTitle">{{r.title}}</div>
                <div class="reviewDescription">{{r.description}}</div>
                {{#if ../isAdmin}}
                <button class="deleteReview">
                    <a href="/admin/deleteReview/?id={{r._id}}&productId={{../product._id}}">Delete</a>
                </button>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </section>
</div>